<div class="container" align="center">
  <div class="row">
    <div class="col-md-12">
      <h3>About Us</h3>
      <%= image_tag 'https://i1.wp.com/holytrinity.to/wp-content/uploads/2020/08/miguel-a-amutio-TqOFeBqnqrI-unsplash-scaled.jpg?resize=930%2C620&ssl=1', height: '200px', width: '100%'%>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>Kentaa is a crowdfunding platform for non-profits and other initiatives that want to change society for the better. We want to offer them a new way to raise money. Kentaa stimulates everyone to work together on a healthy society.</p>
      <p>Kentaa is an online fundraising expert that helps people and organisations strive for equal opportunities for all and make the world a better place. We offer smart online platforms and tools to allow as many people as possible to raise funds for social causes successfully.
        Additionally, we offer advice for successful crowdfunding, event fundraising, peer-to-peer fundraising and online collection campaigns. Our clients include charities, universities, museums, care facilities and sports clubs.
        Kentaa has a social mission to help social good organisations create online revenue to realise their dreams. Helping them reach these goals is in our DNA.</p>
    </div>
  </div>
</div>
</div>